.createNewTaskForm {
    margin-top: -1.688rem;
    
    display: flex;

    width: 46rem;
    gap: 0.5rem;
}

.createTaskInput {
    background-color: var(--gray-500);
    color: var(--white);
    border: 1px solid var(--gray-700);

    border-radius: 8px;
    width: 86%;
    height: 3.375rem;
    
    line-height: 1.5rem;

    padding: 1rem;
}

.createTaskButton {
    background-color: var(--blue-dark);
    color: var(--gray-100);

    border-radius: 8px;
    width: 5.625rem;
    height: 3.375rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.createTaskButton:hover {
    background: var(--blue);
}